.contenedor {
    max-width: 1280px;
    max-height: 1000px;
    margin: auto;
    /* background-color: rgb(23, 23, 77); */
}

.header {
    border: 1px solid #d5d5d5;
    border-left: none;
    border-right: none;
    padding: 16px;
    overflow: hidden;
    margin-right: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: right;
    color: black;
    position: relative;
}

h1 {
    padding: 2px;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    max-width: 100%;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.BA {
    font-family: 'Rubik', sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #f7d117;
}

/* .dropdown {
    overflow: hidden;
    background-color: #ffffff;
    top: 0;
    width: 100%;
}

.sidepanel {
    overflow: hidden;
    background-color: #ffffff;
    top: 0;
    width: 100%;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fef7f1;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    background-color: rgb(45, 128, 128);
}

.sidepanel .closebtn {
    background-color:#679B9B;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #679B9B;
    color: #fef7f1;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color:  rgb(45, 128, 128);
} */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 46;
    position: absolute;
    top: 0;
    margin-top: 130px;
    margin-left: 80px;
}

.secciones {
    max-width: 100%;
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border: 1px solid #d5d5d5;
    border-left: none;
    border-right: none;
    box-shadow: 0 2px 5px rgba(0,0,0,.15);
}

.not {
    padding: 16px;
    background-color: #f7d217a9;
    color: rgba(0, 0, 0, 0.662);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
/* .not:hover {
    background-color: #cdcdcd96;
    color: rgba(0, 0, 0, 0.422);
} */

.pol {
    padding: 16px;
    background-color: #f7d217e2;
    border-right: 1px solid #e4c41f;
    border-left: 1px solid #e4c41f;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.pol:hover {
    background-color: #f7d217a9;
    color: rgba(0, 0, 0, 0.662);
}

.eco {
    padding: 16px;
    background-color: #f7d217e2;
    color: black;
    border-right: 1px solid #e4c41f;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.eco:hover {
    background-color: #f7d217a9;
    color: rgba(0, 0, 0, 0.662);
}

.soc {
    padding: 16px;
    background-color: #f7d217e2;
    color: black;
    border-right: 1px solid #e4c41f;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.soc:hover {
    background-color: #f7d217a9;
    color: rgba(0, 0, 0, 0.662);
}

.dep {
    padding: 16px;
    background-color: #f7d217e2;
    color: black;
    border-right: 1px solid #e4c41f;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.dep:hover {
    background-color: #f7d217a9;
    color: rgba(0, 0, 0, 0.662);
}

.mun {
    padding: 16px;
    background-color: #f7d217e2;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.mun:hover {
    background-color: #f7d217a9;
    color: rgba(0, 0, 0, 0.662);
}

.subtitulo {
    max-width: 100%;
    color: black;
    text-align: left;
    margin-left: 80px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.cuerpo {
    max-width: 1280px;
    font-family: 'Roboto', sans-serif;
}
.cuerpo h2 {
    width: 100%;
    margin-left: 80px;
    text-align: left;
    font-size: 38px;
    font-weight: 600;
}

.texto{
    width: 1080px;
    margin-left: 80px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    color: rgb(83, 83, 83);
    padding-top: 2px;
}

.texto h2{
    text-align: left;
    font-size: 26px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding-top: 30px;
}

.epigrafe {
    width: 1080px;
    margin-left: 80px;
    text-align: left;
    font-size: 20px;
    line-height: 28px;
}

hr {
    width: 1000px;
    border: 1px solid #d5d5d5;
}

/* .chart {
    margin: 0 auto;
    display: block;
    text-align: left;
  } */

#chart_2 svg, #chart_3 svg  {
    max-width: 100%;
    margin-left: 120px;
    margin-right: 10px;
    margin-top: 3em;
    margin-bottom: 3em;
    align-items: left;
} 

#chart_1 svg, #chart_4 svg  {
    max-width: 100%;
    margin-right: 10px;
    margin-top: 3em;
    margin-bottom: 3em;
    align-items: left;
    margin-left: 0px;
}

#chart_1 {
    margin-left: 120px;
}
.col {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
/* color footer: #343434; */