.contenedor {
    max-width: 1280px;
    margin: auto;
    /* background-color: rgb(23, 23, 77); */
}

.header {
    border: 1px solid #d5d5d5;
    border-left: none;
    border-right: none;
    padding: 16px;
    overflow: hidden;
    margin-right: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: right;
    color: black;
    position: relative;
}

h1 {
    padding: 2px;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    max-width: 100%;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.BA {
    font-family: 'Rubik', sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #f7d117;
}

.secciones {
    max-width: 100%;
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border: 1px solid #d5d5d5;
    border-left: none;
    border-right: none;
    box-shadow: 0 2px 5px rgba(0,0,0,.15);
}

.not {
    padding: 16px;
    background-color: #cdcdcd;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
/* .not:hover {
    background-color: #cdcdcd96;
    color: rgba(0, 0, 0, 0.422);
} */

.pol {
    padding: 16px;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.pol:hover {
    background-color: #cdcdcd96;
    color: rgba(0, 0, 0, 0.422);
}

.eco {
    padding: 16px;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.eco:hover {
    background-color: #cdcdcd96;
    color: rgba(0, 0, 0, 0.422);
}

.soc {
    padding: 16px;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.soc:hover {
    background-color: #cdcdcd96;
    color: rgba(0, 0, 0, 0.422);
}

.dep {
    padding: 16px;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.dep:hover {
    background-color: #cdcdcd96;
    color: rgba(0, 0, 0, 0.422);
}

.mun {
    padding: 16px;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.mun:hover {
    background-color: #cdcdcd96;
    color: rgba(0, 0, 0, 0.422);
}
/* hr {
    border: 1px solid black;
} */

/* color footer: #343434; */