.contenedor {
    max-width: 1280px;
    margin: auto;
}

.header {
    align-items: center;
    border: 1px solid #d5d5d5;
    border-right: none;
    border-left: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 56px;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,.15);
}

.date {
    text-align: left;
}

.type {
    text-align: right;
}

h1 {
    padding: 2px;
    font-family: 'Playfair Display SC', serif;
    font-size: 98px;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
